/* Creates the CSS Variables */
:root{
    --primary-color: #81b214;
    --secondary-color: #f58634;
    --third-color: #ffcc29;
    --fourth-color: rgba(245, 134, 52, 0.3);
    --fifth-color: black;
    --sixth-color: white;
    --text-color: white;
  }
  /* Base Style Settings for CSS */
  *{
    margin: auto;
    /* background-color: var(--primary-color);
    color: var(--text-color);
    font-family: 'Varela Round', sans-serif;*/
  }

  main{
    width: 90%;
    margin: auto;
  }

  .text-center{
    text-align: center;
  }
  
  /* Styles the navigation bar */
  .navbar{
    background-color: var(--primary-color);
    color: var(--text-color);
    margin-bottom: 20px;
  }
  .navbar .container-fluid{
    width: 100.5%;
  }

  .navbar-light .navbar-nav .nav-link {
    color: var(--text-color)!important;
  }
  .navbar-light .navbar-nav .nav-link.active {
    color: var(--fifth-color)!important;
  }
  .navbar-light .navbar-brand {
    color: var(--text-color)!important;
  }

  .nav-bar{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    border: solid 2px;
    background-color: var(--primary-color);
  }

  /* Styles the list elements within the navigation bar */
  .nav-list-element{
    list-style-type: none;
    text-decoration: none;
  }

  /* Styles the list elements in the navigation bar on hover */
  .nav-list-element:hover {
    color: black;
    background-color: white;
  }
  
  /* Styles the h1 main-title content */
  .main-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 2px;
  }
  
  /* Styles the image container */
  .image-container{
    background-image:url(../images/produce3.jpg);
    background-size: 100% auto;
    height: 650px;
    align-items: center;
    /* background-color: yellow; */
  }

  .donation-header{
    text-align: center;
    padding: 20px;
    background-color: rgba(28, 29, 28, 0.4);
  }

  .donation-page{
    background-image:url(../images/veggies.jpg);
    background-size: 100%;
    height: 650px;
    align-items: center;
    padding: 10px;
  }

  .donation-form{
    background-color: var(--primary-color);
    width: 33%;
    padding: 10px;
    border-radius: 15px;
  }

  input{
    background-color: white;
    color: var(--primary-color);
  }

  select{
    color: white;
  } 

  option{
    color: white;
  }

  .donation-type{
    background-color: black;
  }

  
  
  
  /* Styles the footer */
  footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    height: 40px;
    margin-top: 20px;
  }

  /* Styles the image container's header */
  .image-container-header{
    height: 400px;
    width: 200px;
    background: transparent;
    size: 200px;
    font-size: 150px;
    margin-left: 50px;
  }


  /* Styles the text within the image container */
  .image-container-text{
    background: transparent;
    size: 200px;
    padding-top: 25px;
    padding-bottom: 50px;
    font-size: 25px;
    color: var(--primary-color)
  }

  .logo-list img{
    height: 80px;
    margin: 10px;
  }

  /* Styles the mission Statement */
  .mission-statement{
    border: solid 2px;
    background-color: white;
  }

  /* Styles the top donators section
  .top-donators-section{
    border: solid 2px;
    background-color: white;
  } */
  .top-donators-section ul{
    width: max-content;
    margin: auto;
  }


  /* Styles the top donators header */
  .top-donators-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    color: var(--primary-color)
  }

  /* Styles the div on homepage that contains the row of logos */
  .row-of-logos{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    background-color: white;
  }

  .kroger-logo{
    width: 200px;
  }

  .giant-eagle-logo{
    width: 200px;
  }

  .luckys-logo{
    width: 200px;
  }

  .food-waste-header{
    height: 200px;
    width: 400px;
    background: transparent;
    font-size: 75px;
    margin-left: 25px;
    padding-bottom: 50px;
  }

  .food-waste-container{
    background-image: url("../images/rottenfruit.jpg");
    background-size: 100% auto;
    height: 500px;
    background-position: center;
  }

  .food-waste-container-text{
    background: rgba(28, 29, 28, 0.4);
    margin-left: 10px;
  }
 
  .hunger-header{
    height: 250px;
    width: 200px;
    background: transparent;
    font-size: 75px;
    margin-left: 25px;
    padding-bottom: 50px;
    padding-top: 10px;
  }
  
  .hunger-container{
    background-image: url("../images/childcereal.jpg");
    background-size: 100% auto;
    height: 500px;
    background-position: center;
    
  }
  .carousel-caption {

    bottom: 9.25rem;
    color:#dee2e6;

  }

  .hunger-container-text{
    background: rgba(28, 29, 28, 0.4);
    margin-left: 10px;
  }

  .hunger-question{
    height: 100px;
    background: var(--third-color)
  }
  .hunger-question-text{
    background:var(--third-color);
    padding-top: 33px;
  }
  
  .food-to-people{
    background: var(--primary-color);
  }

  .food-to-people-header{
    background: var(--primary-color);
    padding: 10px;
  }

  .food-to-people-text{
    padding:10px;
  }

  script{
    background-color:white;
  }
    /* main
  ._container {
      height: 1%; 
      /* border: 1px solid blueviolet;   */
     /* justify-content: left;
  
  } 
  /* ._container h1{
      display: flex;
      justify-content: center;
  } */
  
   ._container1{
      height: 50%;
       /* border: 1px solid blueviolet; */
  }  
   ._container1 h1 {
    display: grid;
    grid-column:1/2 ;
    grid-row: 1/2;
  }  
  ._container {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
  }
  ._container1{
    height: 100%;
    display: grid;
    grid-column:1/2 ;
    grid-row: 1/2;
  } 
  .food_waste_prevention{
    display: grid;
    grid-column:1/2 ;
    grid-row: 1/2;
  }
  ._main_container{
    display: grid;
    grid-column:1/2 ;
    grid-row: 1/2;
  }

  .rewards-image-container{
    background-image:url("../images/volunteer.jpg");
    background-size: 100% auto;
    height: 400px;
    /* background-color: yellow; */
  }

  .rewards-image-container-header{
    height: 200px;
    width: 200px;
    background: transparent;
    size: 200px;
    font-size: 100px;
    margin-left: 50px;
    color: var(--third-color);
  }

  .medal-header{
    background-color: white;
    color:var(--secondary-color);
    padding: 10px;
  }

  .medal-description{
    background-color: white;
    color:var(--secondary-color);
    padding: 10px;
  }

  .medal{
    height: 30px;
  }
 
  /* Style for business details */ 
  .business-list{
    list-style-type: none;
  }


  /* foodReduction background */
  .food_waste{
    background-image:url("../images/foodWaste.jpg");
    background-size: 100% auto;
    height: 400px;
    ;
  }
  ._main_container_waste{
    background: rgba(199, 199, 199, .9);
    max-width: 700px;
  }
  .foodReduction_header{
    display: flex;
    justify-content: center;
  }
  .foodReduction_header_restaurants{
    display: flex;
    justify-content: center;
  }