<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<main>
    <li th:text="$"{bussines.name}"></il>
    <li th:text="$"{business.streetAddress}"></li>
    <
</main>
<body>
    <div class="header">
        <h1>Belows of the bussines who have?</h1>
    </div>
    <img src="">

    
</body>

</html>