<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--  <link rel="stylesheet" href="../../css/style.css">-->
  <link rel="stylesheet" href="/css/style.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Donation Form</title>
    <script src="https://kit.fontawesome.com/8f90320c69.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="donation-page">
    <nav class="nav-bar"> 
      <h1>6-1-Food Force</h1>
        <li><a class="nav-list-element" href="#"><i class="far fa-building"></i> Businesses </a></li>
        <li><a class="nav-list-element" href="#"><i class="fas fa-recycle"></i> Food Waste Facts </a></li>
        <li><a class="nav-list-element" href="#"><i class="fas fa-utensils"></i> Free Food Resources </a></li>
        <li><a class="nav-list-element" href="#"><i class="fas fa-award"></i> Rewards </a></li>
      </nav>
    <h1 class="donation-header">Business Donation Form</h1><br><br>
    <form action="/donations/submitDonation" method="POST" class="donation-form">
      <label for="business">Choose your business:</label><br><br>
      <select name="business" id="business" >
        <option th:each="business : ${businesses}" th:value="${business.getId()}" th:text="${business.getName()}"></option>
      </select><br><br>
<!--      <input class="business-street-address" type="text" name="_" placeholder="STREET ADDRESS"><br><br>-->
      <input class="donation-item" type="text" name="_name" placeholder="ITEM"><br><br>
      <input class="donation-quantity" type="number" name="_foodQuantity" placeholder="QUANTITY">
      <select id="donation-type" name="foodUnit">
        <option value="lbs">lbs</option>
        <option value="gallons">gallons</option>
        <option value="cans">cans</option>
        <option value="box">box</option>
        <option value="case">case</option>
      </select><br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>

</html>