<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <title>Donationform</title>
</head>

<body>
<main>
<div th:replace="fragment/navbar">...</div>
  <div class="donation-page">

    <h1 class="donation-header">Business Donation Form</h1><br><br>
    <form action="/submitDonation" method="POST" class="donation-form">
      <input class="business-name" type="text" name="_business" placeholder="BUSINESS NAME"><br><br>
<!--      <input class="business-street-address" type="text" name="_" placeholder="STREET ADDRESS"><br><br>-->
      <input class="donation-item" type="text" name="_name" placeholder="ITEM"><br><br>
      <input class="donation-quantity" type="number" name="_foodQuantity" placeholder="QUANTITY">
      <select id="donation-type" name="_foodUnit">
        <option value="lbs">lbs</option>
        <option value="gallons">gallons</option>
        <option value="cans">cans</option>
        <option value="boxes">boxes</option>
      </select><br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</main>
</body>
<div th:replace="fragment/footer">...</div>
</html>

