<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <title>FoodReduction</title>
</head>
<body class="food_waste">
<div th:replace="fragment/navbar">...</div>
<!--*****************************************************************************************-->
<div class="_main_container_waste">
  <header><br>
    <h2 class="foodReduction_header">HOW TO REDUCE FOOD WASTE</h2></header>
  <main>
    <div class="_container_waste">
      <div class="restaurant_info">
        <h1 class="foodReduction_header_restaurants"><br>Restaurants<br></h1>
        <p>
          <br>Restaurant portion sizes have grown immensely compared to
          what they used to be a couple of decades ago, ranging from 2-8 times larger than what the FDA or USDA
          recommend for serving sizes. The increase in serving size leads to restaurants needing to buy more ingredients
          to cook each meal. Often, people don't finish their meals and restaurants
          don't use all their ingredients. Approximately 85% of the food that isn't used in a restaurant in the US is
          thrown out while only a small percentage is recycled or donated. With more than 42 million people in our
          country not knowing were their next meal in coming from, this amount of food waste alarming. We need to find smarter and more efficient ways too use
          food in restaurants. Helping to guide and connect the food that is not going to be used to people in need.
        </p></div>
      <h1>Supermarkets</h1>
      <p><br>Grocery stores make up a billion-dollar industry. They largely influence food production, consumer
        shopping trends, and are responsible for a great amount of food waste. The Center for Biological Diversity recently come out
        with surprising research, grading the country's top 10 largest supermarkets on their waste reduction efforts.
        only three out of those ten supermarkets got an A. </br></p>
      <p>"Every year, American consumers, businesses, and farms spends $218 billion a year, or 1.3% of GDP, growing,
        processing, transporting, and disposing food that is never eaten." <a href="https://www.refed.com/">ReFed</a> </p></div>
    <div class="food_waste_prevention"><h2>Food Waste Prevention</h2>
      <ul>
        <li><b>DONATING :</b></li>
        When out buying our groceries for the week, a lot of us look at the expiration dates of the product
        we want, and get the one that has the latest expiration. It makes sense! But according to <a href="https://www.businessinsider.com/solving-food-waste-in-americas-restaurants-2016-5">Business Insider,</a>
        "consumers(and many sellers) wrongly assume that food is no longer good after these days," going on to explain
        that "sell-by dates are guidelines for sellers to indicate peak freshness," and that "most foods are good long
        after the sell-by date." Therefore, a lot of this food could be redirected to people in need. <br></br>
        <li><b>PREVENTION :</b></li>
        Grocery stores like to say that a consumer has a higher likely hood of buying an item off of a shelf if they see
        it is full. So they dedicate hours, making every shelf is full with items. But with that much produce on
        display, it leads to perishable going bad before they are even sold. <br></br>
        <li><b>DISCOUNTING</b></li>
        A great way to help reduce food waste is to reduce the price of any damaged item. Damaged items often gets
        tossed by grocery stores because people generally won't buy them. However, a discount may sway a consumer's opinion on that not-so-perfect item, eliminating waste and generating profit.
        <li><b>COMPOST</b></li>
        Instead of tossing old or imperfect food
        in the trash, grocers can reduce their food waste by adopting a composting system. Once you pull organic material
        from recyclable material, having full access to a composting system will quickly lower how much waste is sent to
        a landfill from a grocery store.
      </ul>
      </p>  <br></br></div>
</div>
</main>  </div>
<!--*****************************************************************************************-->

<div th:replace="fragment/footer">...</div>
</body>
</html>