<nav class="nav-bar">
  <h1>6-1-Food Force</h1>
  <li><a class="nav-list-element" href="factsAboutFoodWaste.html"><i class="far fa-building"></i> Facts About Food Waste </a></li>
  <li><a class="nav-list-element" href="foodReduction.html"><i class="fas fa-recycle"></i>Food Reduction </a></li>
  <li><a class="nav-list-element" href="lowCostfoodresources.HTML"><i class="fas fa-utensils"></i> Free Food Resources </a></li>
  <li><a class="nav-list-element" href="rewardsPage.HTML"><i class="fas fa-award"></i> Rewards </a></li>
  <li><a class="nav-list-element" href="donationform.html"><i class="fas fa-award"></i> Donations </a></li>
  <li><a class="nav-list-element" href="signupform.html"><i class="fas fa-award"></i> Sign Up! </a></li>
</nav>