<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Found Results</title>
  <link rel="stylesheet" href="/frontend/Static/css/style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>

  <form class="acceptButton" action="/donations/acceptDonation" method="get">
    <h1 th:if="${foundDonations.size() == 0}">0 Results</h1>
    <h1 th:if="${foundDonations.size() gt 0}">Results</h1>
    <ul th:each="donation:${foundDonations}">
      <li>

        <input type="checkbox" class="donationItem"  name="id" th:value="${donation.getId()}">
        <label th:for="${donation.getId()}" th:text="${donation.getFoodQuantity()} + ' ' + ${donation.getFoodUnit()} + ' of ' + ${donation.getName()}"> </label>
        <br>
      </li>

    <br><br>
    <input type="text" name="_charity" placeholder="CHARITY ACCEPTING">
    <input type="hidden" name="_business" th:value="${donation.getBusiness().name}">
    <input type="submit" text="ACCEPT">
    </ul>
  </form>

</body>
</html>